* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 80vh;
  width: 70vh;
  background-color: grey;
  border: 2px solid blue;
  color: black;
  border-radius: 5px;
  margin: 10vh auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_header {
  margin-bottom: 4vh;
  text-align: center;
}

.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_form form {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.container_form form label {
  font-size: 18px;
}

.container_form form input {
  width: 30vh;
  height: 4vh;
  padding: 0.5vh;
  border-radius: 4px;
  border: none;
}

.container_form form button {
  margin-top: 2vh;
  height: 4.5vh;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-color: blue;
  color: white;
}

.container_form form button:hover {
  opacity: 0.9;
}

.login-link {
  margin-top: 2vh;
  font-size: 14px;
  text-align: center;
}

.login-link a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
