.payment-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 40%;
  margin: 3vh auto;
  background-color: grey;
  color: rgb(214, 192, 0);
  border: solid 2px blue;
  border-radius: 20px;
  padding: 2rem;
}

.payment-container h1 {
  margin-bottom: 3vh;
}

.payment-summary {
  width: 100%;
  margin: 4vh 0;
}

.payment-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.payment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-form input {
  width: 90%;
  max-width: 420px;

  margin-top: 2vh;
  padding: 1rem;

  border-radius: 8px;
  border: none;
  outline: none;
}

.payment-row {
  display: flex;
  gap: 1rem;
  width: 90%;
  max-width: 420px;
}

.payment-row input {
  width: 100%;
}

.payment-btn {
  padding: 1rem;
  background-color: blue;
  color: white;

  margin-top: 3vh;
  width: 90%;
  max-width: 420px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.payment-btn:hover {
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .payment-container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .payment-container {
    width: 90%;
    padding: 1.5rem;
  }

  .payment-row {
    flex-direction: column;
  }
}
