*{
  padding: 0;
  margin: 0;
}
.cart{
  position: fixed;
  top: 10vh;
  right: 0;
  width: 16%;
  height: calc(100vh - 10vh);
  background-color: rgba(183, 168, 40, 0.87);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.cart::-webkit-scrollbar{
  width: 15px;
  background-color: black;
  border-radius: 5px;
}
.cart::-webkit-scrollbar-thumb{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.cart-item{
  min-height: 26vh;
  width: 20vh;
  padding: 2vh;
  margin: auto;
  background-color: grey;
  border: solid 2px blue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cart-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qty-control > button{
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 1vh;
  border-radius: 50%;
  border: 2px solid blue;
}
.checkout-btn{
  margin-top: 2vh;
  padding: 2vh 3vh;
  border: 1px solid blue;
  border-radius: 1px
}
