.cart{
  position: fixed;
  top: 10vh;
  right: 0;
  width: 16%;
  height: calc(100vh - 10vh);
  background-color: rgba(183, 168, 40, 0.87);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.cart::-webkit-scrollbar{
  width: 15px;
  background-color: black;
  border-radius: 5px;
}

.cart::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
}

.cart-item{
  min-height: 28vh;
  width: 24vh;
  padding: 2vh;
  margin: 2vh auto;
  background-color: grey;
  border: solid 2px blue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qty-control > button{
  margin: 1vh;
  padding: 1vh;
  border-radius: 50%;
  border: 2px solid blue;
}

.checkout-btn{
  margin-top: 2vh;
  padding: 2vh 3vh;
  border: 1px solid blue;
  border-radius: 3px;
}

@media (max-width: 900px){
  .cart{
    width: 35%;
    display: block;
    justify-content: center;
  }
}

@media (max-width: 480px){
  .cart{
    width: 100%;
    height: 50vh;
    top: auto;
    bottom: 0;
    display: block;
    justify-items: center;
  }

  .cart-item{
    width: 36vh;
  }
}

@media (max-width: 300px){
  .cart{
    height: 60vh;
  }

  .cart-item{
    width: 30vh;
    min-height: 32vh;
  }

  .checkout-btn{
    padding: 3vh;
  }
}
