*{
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(183, 168, 40, 0.87);
  background-color: white;
  background-image: radial-gradient(rgb(255, 255, 255), rgba(201, 201, 201, 0.934));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
