*{
  padding: 0;
  margin: 0;
}

main{
  color: black;
  text-align: center;
}

main > h1{
  margin-top: 5vh;
}
main > h2{
  margin-top: 2vh;
  margin-bottom: 5vh;
}
#cards{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.section_card{
  height: 50vh;
  width: 42vh;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  border: solid 5px blue;
  margin-left: 6vh;
  margin-right: 6vh;
}

.section_card > button{
  margin-top: 1vh;
  padding: 2vh;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
}

.section_card > button:hover{
  background-color: darkblue;
  color: grey;
  border-radius: 5px;
  border: 2px solid grey;
}
